@import "compass/reset";
@import "takitapart/normalize";
@import "takitapart/typography";
@import "takitapart/grid";
@import "takitapart/form";
@import "takitapart/print";
@import "compass/typography/links/link-colors";


@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $focus {
    &:focus {
      color: $focus;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
    }
  }
  @if $active {
    &:active {
      color: $active;
    }
  }
}

/*  Welcome to Compass.
 *  In this file you should write your main styles. (or centralize your imports)
 *  Import this file using the following HTML or equivalent:
 *  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 *	Try fontawesome 	http://fortawesome.github.io/Font-Awesome/examples/ 
 *	Try normalize.css 	http://necolas.github.com/normalize.css/  
 */

	// Base font-size in pixels.
$font-size: 16;
	// Base line-height.
$line: $font-size * 1.5;
$em: $font-size * 1;
	// Number of columns.
$columns: 12;
	// Width of the outer margin, in percent.
$outer-margin: 5.55555%;

	//section colors & opacity 
//$background-image:	1_backlite-hills-in-hall-windowwithborder_v2.jpg;
$background-color:	#aaaabb;
$header-color:  	#aabbcc;
$header-opacity:	0.3;
$content-color: 	#a9a9f6;
$content-opacity:	0.5;
$nav-color: 		#aabb22;
$nav-opacity:		0.9;
$posts-color: 		#ac76c3;
$posts-opacity:		0.5;
$links-color: 		#f6a9a9;
$links-opacity:		0.4;
$footer-color: 		#a9f6a9;
$footer-opacity:	0.3;
$link-color: 		#FF0000; 
$link-visited:		#cccccc;
$link-hover:		#bbbbbb;
$link-active:		#000000;


$normal:	#000;
$visited:	#0a0;
$focus:		#bbb;
$hover:		#c1c;
$active:	#202;


html { 
  background: image-url("1_cigwithborders.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {  


	//@include grid();
	font-family: "Times New Roman",Georgia,Serif;
	//background: image-url("1_cigwithborders.jpg");
	//background-color: $background-color;
	//width:50;
	/*#bg {
	  position: fixed; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	}
	#bg img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}*/

	#header {
		background-color: rgba($header-color, $header-opacity);
		@include column($columns);
		text-align: center;
		}

	#content {
		background-color: rgba($content-color, $content-opacity);
		@include column($columns);
		}

	#nav {
		background-color: rgba($nav-color, $nav-opacity);
		@include column($columns);
		padding: 12px;
		a 
			+link-colors (#00c, #0cc, #c0c, #ccc, #cc0)};
		/*a   {
			color:$link-color;
			&:visted{
				color:$link-visited;
			}
			&:hover{
				color:$link-hover;
			}
			&:link-active{
				color:$link-active;
			}
		}*/

		#posts {
			background-color: rgba($posts-color, $posts-opacity);
			@include column($columns,$columns);
			}
		#links {
			background-color: rgba($links-color, $links-opacity);
			@include column($columns,$columns);
			}
		}

	#footer {
		background-color: rgba($footer-color, $footer-opacity);
		@include column($columns);
		}
	
}
@media screen and (min-width: 32em) {
	body {
		#nav {
			#posts,
			#links {
				@include column($columns * 0.5,$columns);
			}
		}
	}
}

@media screen and (min-width: 42em) {
	body {
		#content {
			@include column(9);
			float: left;
		}
		#nav {
			@include column(3);
			padding: 10px;
			#posts,
			#links {
				@include column(3,3);
			}
		}
	}
}

@media screen and (min-width: 62em) {
	body {
		#header {
			@include column(10);
			@include push(1);
		}
		#content {
			@include column(10);
			@include push(1);
			padding: 0;
		}
		#nav {
			@include column(10);
			@include push(1);
			#posts,
			#links {
				@include column($columns * 0.5,$columns);
			}
		}
		#footer {
			@include column($columns - 2);
			@include push(1);
		}
	}
}

@media screen and (min-width: 70em) {  
	@include baseline-grid(20);
	font-size: 1.00em;
}
@media screen and (min-width: 75em) {  
	@include baseline-grid(21);
	font-size: 1.00em;
}
@media screen and (min-width: 80em) {  
	@include baseline-grid(22);
	font-size: 1.00em;
}
@media screen and (min-width: 85em) {  
	@include baseline-grid(23);
	font-size: 1.00em;
}
@media screen and (min-width: 90em) {  
	@include baseline-grid(24);
}
@media screen and (min-width: 95em) {  
	@include baseline-grid(25);
}
@media screen and (min-width: 100em) {  
	@include baseline-grid(26);
}
@media screen and (min-width: 75em) {  
	@include baseline-grid(27);
}
@media screen and (min-width: 110em) {  
	@include baseline-grid(28);
}
@media screen and (min-width: 115em) {  
	@include baseline-grid(29);
}
@media screen and (min-width: 120em) {  
	@include baseline-grid(30);
}
@media screen and (min-width: 125em) {  
	@include baseline-grid(31);
}
@media screen and (min-width: 130em) {  
	@include baseline-grid(32);
}
@media screen and (min-width: 135em) {  
	@include baseline-grid(33);
}
@media screen and (min-width: 140em) {  
	@include baseline-grid(34);
}
@media screen and (min-width: 145em) {  
	@include baseline-grid(35);
}
@media screen and (min-width: 150em) {  
	@include baseline-grid(36);
}
