@import url(http://fonts.googleapis.com/css?family=Bilbo|Amatic+SC|Annie+Use+Your+Telescope|Zeyada);

body {
	background-color: $pagewhite;
	font-family: $font-2;
	font-size: 3rem;
}

header {
	background-image: url("../../images/peak2.svg");
	font-size: 3rem;
	.navigation {
		.layout {
			.nav {
				a {
					@include border-radius(50px, 50px);
					color: $red;
				}
			}
		}
	}
}


a {
	text-decoration: none;
	color: #000;
	&:hover {
		background: rgba(100,30,42,0.1);
		padding:clear;
		top: 0;
		width: 100px;
		border: 10px;
		@include border-radius(10px,10px);
		transition: background-color linear 0.25s;	
	}
	&:visited {
		color: #000;
		@include text-shadow(lighten($lightgray, 20) 1px 1px);
	}
}

.navigation {
	background-color: rgba(255,0,0,0.1);
}

.content {
	color: #000;
	@include text-shadow(lighten($lightgray, 20) 1px 1px);
	font-size: 0.75em; 
}

.inventories {
	line-height: 120%;
}

ul {
	list-style-type:square;
}

/* Picture display from css3.bradshawenterprises.com/cfimg/#cfimg7 Demo 6 -------------------*/

p#viewer_controls {
  text-align:center;
}

$h1-size: 36px;
$breakpoint: 500px;

#viewer_controls span {
  padding-right:1em;
  cursor:pointer;
  white-space:nowrap;
}

.selected {
  	text-decoration: underline;
 }

#viewer {
  position:relative;
  height:281px;
  width:400px;
  margin:0 auto 10px;
}
#viewer img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#viewer img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}