@include sticky-footer(5px, ".wrapper", "#layout_footer","footer");

//header ---------------------------------

header {
	display:block;
	background-position: center;
	background-size: 100% 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-bottom: 5px;
	horizontal-postion: center;
	padding-top: 40px;
	padding-bottom: 40px;
	height: background-image;
}

.wrapper {
	height: 100%;
}

.navigation {
	 ul{
	 	margin: 0;
	 	padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline;
			a {
				text-decoration: none;
				padding: .02em .2em;
			}
		}
	}
}

//content -------------------------------

img {
	display: block;
	max-width: 95%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.inventories {
	margin-left: 8%;
	margin-top: 5%;
	padding: 15px;
}

.permaculture {
	padding-left: 10%;
	line-height: 120%;
}

//footer --------------------------------

footer {
	font-size: 0.4em;
	float: right;
	top: 100px;
}