//Susy setup -----------------------------
$total-columns 			:12;
$column-width 			:4em;
$gutter-width  			:1em;
$grid-padding   		:$gutter-width;

$small 					: 30em;
$medium 				: 47em;
$large 					: 75em;

@include sticky-footer(5px, ".wrapper", "#layout_footer","footer");

//header ---------------------------------

header {
	display:block;
	background-position: center;
	background-size: 100% 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-bottom: 5px;
	horizontal-postion: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.wrapper {
	height: 100%;
}

.navigation {
	 ul{
	 	margin: 0;
	 	padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline;
			a {
				text-decoration: none;
				padding: .2em 1.2em;
			}
		}
	}
}

//content -------------------------------

img {
	display: block;
	max-width: 95%;
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	list-style-type: none;
	@media screen and (min-width: 900px) {
	  	width: 900px;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		padding: 5px;
	}
}

.inventories {
	margin-left: 8%;
	margin-top: 5%;
	padding: 15px;
}

.permaculture {
	padding-left: 10%;
	line-height: 120%;
}

//footer --------------------------------

#copyright {
	font-size: 0.4em;
	float: right;
	top: 20px;
	padding: 5px;
}

#navlist {
	list-style-type: none;
	font-size: 0.5em;
	float: left;
	padding-left: 20px;
	li {
		display: inline;
		a {
			color: $red;
			padding-right: 5px;
		}
	}
}
