//Susy setup -----------------------------
$total-columns 			:12;
$column-width 			:4em;
$gutter-width  			:1em;
$grid-padding   		:$gutter-width;
@include border-box-sizing;

$small 					: 30em;
$medium 				: 47em;
$large 					: 75em;

//header ---------------------------------

header {
	background-position: center;
	background-size: 100% 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 10px;
	horizontal-postion: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

//navigation -----------------------------

.navigation {
	ul.nav {
		li {
			text-align: center;
		}
	}
}

//footer --------------------------------
footer {
	margin-bottom: 50px;
	margin-right: 20px;
}