@import "compass";
@import "compass/reset";
@import "susy";

@import "variables";
@import "mixins";
@import "base";
@import "layout";
@modules "modules";


/*  
 *	Try fontawesome 	http://fortawesome.github.io/Font-Awesome/examples/ 
 *	Try normalize.css 	http://necolas.github.com/normalize.css/  
 */

	// Base font-size in pixels.
$font-size: 29;
	// Base line-height.
$line: $font-size * 1.5;
$em: $font-size * 1;
	// Number of columns.
$columns: 12;
	// Width of the outer margin, in percent.
$outer-margin: 5.55555%;
